build/
build-appimage/
builddir/
obj-*/
dist/
.cache/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/yolodex/
debian/*.substvars
debian/*.debhelper.log
*.o
*~
*.swp
.idea/
.vscode/
