Source: yolodex
Section: utils
Priority: optional
Maintainer: Greg Gauthier <gmgauthier@protonmail.com>
Build-Depends:
 debhelper-compat (= 13),
 meson (>= 0.56),
 ninja-build,
 pkg-config,
 g++,
 libgtkmm-3.0-dev,
 libxml2-dev,
 libfontconfig1-dev
Standards-Version: 4.7.0
Homepage: https://github.com/gmgauthier/yolodex
Vcs-Git: https://github.com/gmgauthier/yolodex.git
Vcs-Browser: https://github.com/gmgauthier/yolodex
Rules-Requires-Root: no

Package: yolodex
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: index-card stack for The Lunduke Computer Operating System
 YOLO-dex is a single-window gtkmm-3 Cardfile-shaped stack of index
 cards. One local .yolodex XML file, List and Card views, no sync.
